.div1{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 450px;
}
table{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-weight: bold;
   
}
select,input{
    width: 400px;
    height: 30px; 
}
#ansBox{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}


